# Config
# Host name for connection to browser
BROWSER_HOST=localhost

# Path to store snapshots in
# Optional - defaults to `./snapshots`
# SNAPSHOT_PATH=

# Specify an alternate path to mount into `/etc/localtime`
# Optional - defaults to `/etc/localtime`
# This is if /etc/localtime does not exist on your machine (e.g. Windows),
#   or if Docker can't mount /etc/localtime (e.g. OSX)
# If running OSX, I'd recommend just copying the /etc/localtime file
#   somewhere else and mounting that e.g. `cp /etc/localtime ~/localtime`
#   and then mounting LOCAL_TIME_MOUNT=/Users/jeff/locatime
# LOCAL_TIME_MOUNT=/etc/localtime


# AWS
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_REGION=us-east-1

# Email
# Address to which change notices are sent
EMAIL_TO_ADDRESS=
# Address from which change notices are sent (must be a verified domain in SES)
EMAIL_FROM_ADDRESS=
# String to prefix the subject line with (a space will be appended automatically)
EMAIL_SUBJECT_PREFIX=Web page has changed:
